<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Home"/>

    <StackLayout>
      <Button class="btn btn-primary" @tap="$router.push('/counter')">Counter</Button>
      <Button class="btn btn-primary" @tap="$router.push('/hello')">Hello World</Button>
      <Button class="btn btn-primary" @tap="authenticate">test</Button>
    </StackLayout>

  </Page>
</template>


<script>


export default {
  methods: {
    authenticate: function() {
        console.log("hello")


    }
  }
}


</script>